.nav-btn.active {
  background: #e53935;
  color: #fff;
  font-weight: 700;
  box-shadow: 0 2px 8px rgba(197, 54, 52, 0.904);
  border: 1.5px solid #b71c1c;
}
.nav-btn {
  background: none;
  border: none;
  color: inherit;
  text-align: left;
  padding: 0.75rem 1rem;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}
.nav-btn:hover {
  background: #e53835b9;
  color: #fff;
}